version: '3'

# networks:
#   app-web:
#    driver: bridge

services:
  # mysql:
  #   image: mariadb
  #   ports:
  #    - 3306:3306
  #   command: --default-authentication-plugin=mysql_native_password
  #   restart: always
  #   networks:
  #    - app-web
  #   environment:
  #    - TZ=Asia/Shanghai
  #    - MYSQL_USER=root
  #    - MYSQL_ROOT_PASSWORD=123456
  #   volumes:
  #    - ./mysql/data:/var/lib/mysql
  #    - ./mysql/my.cnf:/etc/mysql/my.cnf
  #    - /etc/localtime:/etc/localtime
  
  postgres:
    image: postgres:15
    container_name: chat-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: nestdb
    volumes:
      - pg_data:/var/lib/postgresql/data
    # 生产建议不暴露端口
    # 如果需要远程连接再打开
    # ports:
    #   - "5432:5432"
  adminer:
      image: adminer
      container_name: chat-adminer
      restart: always
      ports:
        - "8060:8080"
      depends_on:
        - postgres

  chatbackend:
    build: ./back-end
    container_name: chat-backend
    restart: always
    ports:
     - 9000:9000
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: nestdb
    depends_on:
     - postgres
    # networks:
    #  - app-web
    # volumes:
    #  - myapp:/home/data
  chatfrontend:
    build: ./front-end
    container_name: chat-frontend
    restart: always
    ports:
     - 80:80
    depends_on:
     - chatbackend

volumes:
  pg_data:
