version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: dev-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nestdb
    ports:
      - "5432:5432"
    volumes:
      - dev_pg_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: dev-adminer
    ports:
      - "8080:8080"
    depends_on:
      - postgres

volumes:
  dev_pg_data: 
